# Operating System files
.DS_Store
Thumbs.db
# Python environment and cache
__pycache__/
*.pyc
venv/
.ipynb_checkpoints/
# Database and sensitive credentials
.env
*.db
# Power BI temporary files
*.pbix.zip
# Local data files that should not be shared
*.csv
*.xlsx
data_source/*.pdf